.container{
    max-width: auto;
    margin: 0 auto;
    max-height: 100vh;
    background: white;
}
.menu-container{
    height: 50px;
    background-color: #eee;
}
.body-container{
    height: 60%;
    display: flex;
    justify-content: center;

}
.footer-container{
    height: 20%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}